####################################################################
# Local variables. Change these, and save the file as perfmon.conf #
####################################################################

BRANCH="CURRENT"           # This must be a valid branch or tag name. "CURRENT" translates to "."
PERFMONDIR="/perfmon"      # Root directory for PerfMon. Don't make the path too 
                           # long, mount_nullfs will complain
LOCALTLDS="dk,de,no,se,fi" # Country codes for fastest_cvsup to test
TARGET=i386                # If your slaves are a different arch
TARGET_ARCH=i386

# LOG="$LOGDIR/perfmon.log" # Messages go to stdout if LOG is not defined
